* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2D4263;
}

a, a:visited, h1, h2 {
    color: #DBDBDB;
    text-decoration: none;
}

h1 {
    margin-top: 1.5em;
    margin-left: 1.5em;
    padding: 1em 0 0em 0;
}

#app {
    margin-left: 2em;
    padding: 1em 4em 1em 4em;
    font-family: Arial, Helvetica, sans-serif
}

#header {
    padding-left: 15px;
}

#bookmarks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.directory {
    margin: 2em 3em 0 3em;
}

.directory-title {
    padding-left: 25px;
}

.card {
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;
    background-color: #192231;
    border-radius: 10px;
    align-items: center;
}

.thumbnail {
    width: 32px;
    height: 32px;
    padding: 10px 5px 10px 20px;
}

.card-title {
    font-size: 1.5em;
    padding: 10px 20px 10px 10px;
}